body{
  background-color: #ecf0f1;
  height:100%;
  width:100%;
  -ms-overflow-style: scrollbar;
-webkit-app-region:drag;
}
.previewSide{
  /* border-left:1px solid black; */
  background-color: white;
  padding-top: 20px;
  padding-bottom: 8px;
  right: 0px;
    position: absolute;
    height: 100%;
    width: 50%;
     hyphens: auto;
     word-wrap: break-word;
     overflow: auto;
}
.editorSide{
    padding-top: 20px;
     hyphens: auto;
     width: 50%;
     padding-bottom : 20px;
}
.f-height{
min-height: calc(100vh - 10px);
height:100%;
}
.bottom-bar{
  position: fixed;
  z-index: 100;
  bottom: 0px;
  height:auto;
  width: 100%;
  background-color: #ecf0f1;
  border-top:1px #bdc3c7 solid;
  margin: 0px;
  transition-property: bottom;
  transition-duration: 0.6s;
  transition-timing-function: linear;
  transition-delay: 0s;
}
.titlebar {
  -webkit-user-select: none;
  -webkit-app-region: drag;
}

.titlebar-button {
  -webkit-app-region: no-drag;
}
.container{
  margin:0px;
  max-width: 100%
}
.editor{
  background-color: #ecf0f1;
  height: 100%;
  width:100%;
  resize: none;
  border: 0px;

}
textarea:focus, input:focus, button:focus, i:focus{
    outline: none!important;
    box-shadow: none!important;
}
.hljs{
  border-radius: 3px;
}
code{
  padding: 2px 4px;
  font-size: 90%;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
}
blockquote {
    padding: 0 1rem;
    margin-left: 0;
    color: #819198;
    border-left: .3rem solid #dce6f0;
  }
input[type=checkbox], input[type=radio] {
  margin-right: 5px;
  margin-left: 5px;
}
 #expandSideMenu{
  position: absolute;
  left: -16px;
  top:calc( 50% - 15px);
  height:30px;
  border-radius:50%;
  padding-left: 16px;
  width:30px;
  background-color: #ecf0f1;
  border:1px #bdc3c7 solid;
  color: #007bff;
  z-index: 100;
  transition-property: left;
  transition-duration: 0.6s;
  transition-timing-function: linear;
  transition-delay: 0s;
}


.expandSideMenuTransition{
  left:-40px!important;

}
.bottomBarTransition{
  bottom: -100px!important;

}
a:hover{
  text-decoration: none;
}
.btn-link:hover{
  text-decoration: none;
}
.leftMenu{
  position: absolute;
    background-color: white;
    top: 0px;

    bottom: 0px;
    left:-600px;
    z-index:101;
    transition-property: left;
    transition-duration: 0.8s;
    transition-timing-function: linear;
    transition-delay: 0s;
    padding:0px;
    overflow:auto;
}
.list-group{
  padding: 0px;
  margin-top:56px;
}
.list-group-item:hover{
  background-color: #7f8c8d;
  color:white;
  cursor: pointer;
}
.closeLeftMenu{
  position: fixed;
  z-index: 200;
  padding-right: 25px;
  padding-left: 0px;
  padding-bottom: 10px;
  padding-top: 10px;
  background-color: white;
  border-bottom: 1px solid black;
}
table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}

table th,
table td {
  padding: 0.75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

table tbody + tbody {
  border-top: 2px solid #dee2e6;
}
table tbody tr {
    background-color: rgba(0, 0, 0, 0.05);
}
